body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background-color: #fafafa;
    color: $readable-grey;

    /*sticky footer*/
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-flex-direction: column;
    flex-direction: column;
}

a {
    color: $link_blue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:active {
        text-decoration: underline;
    }
} 