$readable_grey      : #444444;
$light_readable_grey: #808080;
$link_blue          : #008BC1;
$green              : #10BD1B;
$blue               : #019ed5;
$light_grey         : #C2C0C6;
$error_red          : #e30000;

$padding-container  : 15px;

$title_name         : 'title' !default;